{% load staticfiles %}
{% include 'check_teacher_logstate.html' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/teacher.css' %}" />
<div id="teacher_EditDiv">
	<form id="teacherModifyForm" enctype="multipart/form-data"  method="post">
        {% csrf_token %}
		<div>
			<span class="label">教师编号:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_teacherNo_modify" name="teacher.teacherNo" value="{{ teacherNo }}" style="width:200px" />
			</span>
		</div>

		<div>
			<span class="label">登录密码:</span>
			<span class="inputControl">
				<input class="textbox" type="password" id="teacher_password_modify" name="teacher.password" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">姓名:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_name_modify" name="teacher.name" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">性别:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_sex_modify" name="teacher.sex" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">出生日期:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_birthDate_modify" name="teacher.birthDate" />

			</span>

		</div>
		<div>
			<span class="label">老师照片:</span>
			<span class="inputControl">
				<img id="teacher_teacherPhotoImgMod" width="200px" border="0px"/><br/>
				<input id="teacher_teacherPhotoMod" name="teacher.teacherPhoto" type="file" size="50" />
			</span>
		</div>
		<div>
			<span class="label">职称:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_zhicheng_modify" name="teacher.zhicheng" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">联系电话:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_telephone_modify" name="teacher.telephone" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">入职日期:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_comeDate_modify" name="teacher.comeDate" />

			</span>

		</div>
		<div>
			<span class="label">家庭地址:</span>
			<span class="inputControl">
				<input class="textbox" type="text" id="teacher_address_modify" name="teacher.address" style="width:200px" />

			</span>

		</div>
		<div>
			<span class="label">老师介绍:</span>
			<span class="inputControl">
				<textarea id="teacher_teacherDesc_modify" name="teacher.teacherDesc" type="text/plain"   style="width:750px;height:500px;"></textarea>

			</span>

		</div>
		<div class="operation">
			<a id="teacherModifyButton" class="easyui-linkbutton">更新</a> 
		</div>
	</form>
</div>
<script src="{% static 'js/Teacher/teacher_modify.js' %}"></script>
